.header {
  height: 12vh;
  width: 100vw;
}

.display {
  top: 12vh;
  height: 88vh;
  display: flex;
}

.sideTabs {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 10vw;
}

.mainView {
  border: 1px solid var(--complement-color);
  background: var(--bg-color);
  margin: 5px 5px 5px 0px;
  flex-grow: 1;
  width: 90vw;
}
