.header {
  top: 0;
  text-align: center;
  display: flex;
  justify-content: space-between;
  background-color: var(--complement-bg-color);
  padding: 10px;
}
.header > h1 {
  /* text-shadow: 0 0 5px #fff, 0 0 10px #ff4da6, 0 0 15px #ff4da6, 0 0 20px #ff4da6, 0 0 25px #ff4da6, 0 0 30px #ff4da6, 0 0 35px #ff4da6; */
  flex-grow: 2;
}

.header > * {
  flex-grow: 1;
  align-self: center;
}
